Package: com.pookjw.splittableprokeyboard
Name: SplittableProKeyboard
Version: 1.0
Architecture: iphoneos-arm64
Description: Hello World!
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: firmware (>= 9.1)
